* {
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  cursor: pointer;
}

.navbar {
  z-index: 9999;
  background: #FFF;
}

.jumbotron {
  background-color: #ECEEEF;
  width: 100%;
}

.product-list-title {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 15px;
}

.outer {
  max-height: 238px;
  overflow-y: hidden;
}

.outer img {
  position: relative;
  max-height: 238px;
  width: 100%;
  margin: 0 auto;
}

.addable a {
  width: 100%;
  background-color: #232323;  
  padding: 10px;
  position: relative;
  bottom: 0px;
}

.addable a:link,
.addable a:visited {
  display: block;
  width: 100%;
  color: #FFF;
  text-decoration: none;
}

.footer {
  background-color: #ECEEEF;
  padding: 10px;
}

.footer p {
  margin: 0;
  bottom: 0;
}

.footer a:link,
.footer a:visited {
  color: inherit
}

/* STICKY FOOTER */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: 60px;
  flex: 1;
}

/* ============================================================= */
/* DETAILS SECTION */

.details-section {
  margin-top: 30px;
}