* {
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-primary {
  color: #FFF;
}

.navbar {
  background: #FFF;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-left: 10px;
}

.nav-link:hover {
  opacity: .8;
}

.jumbotron {
  background-color: #ECEEEF;
  width: 100%;
}

.product-list-title {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 15px;
}

.outer {
  max-height: 238px;
  overflow-y: hidden;
}

.outer img {
  position: relative;
  max-height: 238px;
  width: 100%;
  margin: 0 auto;
}

.addable a {
  width: 100%;
  background-color: #232323;  
  padding: 10px;
  position: relative;
  bottom: 0px;
}

.addable a:link,
.addable a:visited {
  display: block;
  width: 100%;
  color: #FFF;
  text-decoration: none;
}

.footer {
  background-color: #ECEEEF;
  padding: 10px;
}

.footer p {
  margin: 0;
  bottom: 0;
}

.footer a:link,
.footer a:visited {
  color: inherit
}

/* STICKY FOOTER */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: 60px;
  flex: 1;
}

/* ============================================================= */
/* DETAILS SECTION */

.details-section {
  margin-top: 30px;
}

/* ============================================================= */
/* DASHBOARD SECTION */

.dashboard {
  margin-top: 10px;
}

div.dash-menu {
  padding: 20px 10px;
  margin-right: 60px;
  background-color: #ECEEEF;
  border-radius: 5px;
  box-shadow: 0 0 5px #232323;
}

.dash-section {
  padding: 20px !important;
  overflow-y: auto;
  background-color: #ECEEEF;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 0 5px #232323 inset;
  -ms-overflow-style: none;
}

.dash-section::-webkit-scrollbar { 
  width: 0 !important 
}

.input-group-addon {
  width: 50px;
}

.input[name='price'] {
  width: 100px;
}

textarea {
  height: 100px !important;
  resize: none;
}

h6 {
  font-weight: bold;
}

h5 a:hover,
h5 a:link {
  text-decoration: none;
}

.dropdown > .btn-secondary:hover,
.dropdown > .btn-secondary {
  color: #FFF !important;
}

.newCatBtn {
  margin-top: 30px;
  color: #FFF !important;
}

a.btn.btn-default {
  border-radius: 5px;
}

.modal-title {
  margin-left: 20px;
}

.first-col {
  width: 500px;
}

/* ============================================================= */
/* CART SECTION */

.cart-table,
.checkout-col {
  margin-top: 50px;
}

.cart-table a:hover {
  text-decoration: none;
}

.cart-image-col {
  width: 50px;
}

.cart-select {
  width: 80px;
}

.checkout-col button {
  margin-bottom: 20px;
}